CREATE database [TP_4]
GO
USE [TP_4]
GO
/****** Object:  Table [dbo].[CLIENTES]    Script Date: 19/6/2022 16:59:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTES](
	[NUMERO_AFILIADO] [int] NOT NULL,
	[NOMBRE] [varchar](255) NOT NULL,
	[APELLIDO] [varchar](255) NOT NULL,
	[REQUERIMIENTO] [varchar](255) NOT NULL,
 CONSTRAINT [PK_CLIENTES] PRIMARY KEY CLUSTERED 
(
	[NUMERO_AFILIADO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT INTO CLIENTES (NUMERO_AFILIADO, NOMBRE, APELLIDO, REQUERIMIENTO) VALUES (1, 'Juan', 'Perez', 'Pastillas')
INSERT INTO CLIENTES (NUMERO_AFILIADO, NOMBRE, APELLIDO, REQUERIMIENTO) VALUES (2, 'Leticia', 'Rodriguez', 'Insulina')
INSERT INTO CLIENTES (NUMERO_AFILIADO, NOMBRE, APELLIDO, REQUERIMIENTO) VALUES (5, 'Gustavi', 'Tabares', 'Cremas')